.cormorant-garamond-estilado {
  font-family: "Cormorant Garamond", serif !important;
}



/* Fondo con overlay oscuro para contraste */
.seccion-video {
  position: relative;
  background-image: url('../img/cafetaleros-storytelling.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.seccion-video .overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Capa semitransparente */
  padding: 4rem 0;
}

/* Contenedor estético para el contenido */
.content-box {
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 15px;
  padding: 2rem;
  backdrop-filter: blur(3px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}