<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <title>Misión, Visión y Valores</title>

    <!-- Playfair para títulos -->
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

  <!-- Poppins para párrafos -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

  
  <!-- Hoja de estilos personalizada -->
  <link rel="stylesheet" href="../assets/css/mision.css">
</head>
<body>
  <main>
    <section class="bloque fade-in">
      <h2>Nuestra Misión</h2>
      <p>Conectar a los colombianos con café de origen local, directamente desde los productores locales, a través de una plataforma digital accesible y confiable que pueda garantizar la calidad, trazabilidad y un comercio justo.</p>
    </section>

    <section class="bloque fade-in">
      <h2>Nuestra Visión</h2>
      <p>Ser la plataforma digital de referencia en el país que pueda conectar a los hogares con café de alta calidad, promoviendo el consumo consciente y reconociendo el valor del trabajo de los caficultores. Buscamos transformar la relación entre cliente consumidor local y el café colombiano, construyendo una cultura de orgullo, acceso justo y apoyo al campo a través de las tecnologías.</p>
    </section>

  </div class="bloque fade-in">
  <h2>Valores</h2>
  <div class="valor-caja">
    <h3>Compromiso local</h3>
    <p>Fortalecer el mercado colombiano y fomentar el orgullo por consumir lo que nace de nuestra tierra.</p>
  </div>

  <div class="valor-caja">
    <h3>Calidad</h3>
    <p>Ofrecemos más que una bebida. Brindamos una vivencia donde el usuario experimente el verdadero café.</p>
  </div>

  <div class="valor-caja">
    <h3>Sostenibilidad</h3>
    <p>Asumimos el compromiso de minimizar el impacto medioambiental mediante nuestras ventas.</p>
  </div>

  <div class="valor-caja">
    <h3>Identidad cultural</h3>
    <p>Buscamos dar el espacio para el reconocimiento del café colombiano como un emblema vivo de nuestras raíces, tradiciones y riqueza regional.</p>
  </div>

  <div class="valor-caja">
    <h3>Equidad y acceso</h3>
    <p>Buscamos democratizar el consumo del mejor café nacional, creando un entorno comercial no limitado únicamente a los mercados internacionales.</p>
  </div>
</section>
  </main>
</body>
</html>